<ion-content>

    <ion-grid>
        <ion-row no-padding>
            <ion-col text-center>
                <img src="./../../assets/imgs/iso.png">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <h5>Comunidades en Cristo</h5>
            </ion-col>

        </ion-row>



        <ion-row>
            <ion-col>
                <form #forma="ngForm">
                    <ion-item>
                        <ion-input block class='loginItem' type="email" [(ngModel)]="user.email" name='email' placeholder="Email" required></ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-input [type]="passwordType" [(ngModel)]="user.password" name='password' placeholder="Password" required></ion-input>
                        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (tap)='hideShowPassword()'></ion-icon>
                    </ion-item>

                    <p text-center block *ngIf="msg ==='The password is wrong'">
                        <span block color='white'> {{ msg }}  <a href='' (tap)="cambiarPassword()">Forgot password?</a> </span></p>
                    <p text-center block *ngIf="msg ==='El usuario no está activado'">
                        <span block color='white'> {{ msg }}  <a href='' (tap)="activarUsuario()">Activate?</a> </span></p>
                    <p></p>
                    <button ion-button color='facebook' icon-left block (click)='signInWithEmail()' [disabled]='!forma.form.valid'>
                    <ion-icon name='log-in'> Sign In</ion-icon>    
                    </button>


                </form>
                <!--   <button ion-button color='facebook' icon-left block (click)='signUp()'>
                        <ion-icon name='person-add'> Sign Up</ion-icon>    
                        </button>-->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center block>
                - OR -

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>

                <button ion-button color='google' icon-left block (click)='signInWithGoogle()'>
                        <ion-icon name='logo-google'>  Google</ion-icon>
                    </button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <button ion-button color='facebook' icon-left block (click)='signInWithFacebook()'>
                            <ion-icon name='logo-facebook'>  Facebook</ion-icon>    
                    </button>

            </ion-col>
        </ion-row>


    </ion-grid>


</ion-content>