<ion-header>

    <ion-navbar text-center>

        <ion-title>Tu Iglesia</ion-title>
        <button ion-button right padding-right menuToggle icon-only>
            <ion-icon name="menu"></ion-icon>
            
        </button>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list *ngIf='validado === false'>
        <ion-item>
            <ion-input #comu name="nombre" [(ngModel)]="zipCode" type="text" placeholder="Ingrese el Nombre"></ion-input>
        </ion-item>
        <ion-item>
            <button ion-button outline block (click)="filtraComunidad(comu)">Search</button>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngFor="let c of chapels" (tap)="cargaDatosChapel(c)">{{ c.name_church }}</ion-item>
    </ion-list>
    <ion-list>
        <form [formGroup]="myForm" (ngSubmit)="crearUsuario()">

            <ion-item>
                <ion-input block type='text' [(ngModel)]="chapel.name_church" name='chapel' placeholder="Community Name/Nombre de tu Comunidad" formControlName="name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input block type='text' [(ngModel)]="chapel.address_church" name='address' placeholder="Address/Domicilio" formControlName="address"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input block type='text' [(ngModel)]="chapel.city" name='city' placeholder="City/Ciudad" formControlName="city"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input block type='text' [(ngModel)]="chapel.state" name='state' placeholder="State/Estado" formControlName="state"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input *ngIf="desactivo" disabled block type='text' [(ngModel)]="chapel.pastor" name='pastor' placeholder="Pastor/a" formControlName="namePastor"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input *ngIf="!desactivo" block type='text' [(ngModel)]="chapel.pastor" name='pastor' placeholder="Pastor/a" formControlName="namePastor"></ion-input>
            </ion-item>

            <hr>
            <ion-item text-center>
                <ion-label>Usted es Pastor?</ion-label>
                <ion-checkbox *ngIf="!desactivo" color="dark" checked="false" name="newpastor" [(ngModel)]="pastor" formControlName="pastor" (tap)="chapel.pastor = user.name + ' ' + user.surname"></ion-checkbox>
                <ion-checkbox *ngIf="desactivo" color="dark" checked="false" name="newpastor" [(ngModel)]="pastor" formControlName="pastor" disabled></ion-checkbox>
            </ion-item>
            <ion-item text-center>
                <ion-label>Esta Comunidad es nueva?</ion-label>
                <ion-checkbox *ngIf="!desactivo" color="dark" checked="false" name="newcomu" [(ngModel)]="comunidad" formControlName="newComu"></ion-checkbox>
                <ion-checkbox *ngIf="desactivo" color="dark" checked="false" name="newcomu" [(ngModel)]="comunidad" formControlName="newComu" disabled></ion-checkbox>
            </ion-item>

            <!--<button ion-button primary outline block>Continue</button>-->
            <button ion-button primary outline block [disabled]='!myForm.valid'>Salvar Cambios</button>
        </form>

    </ion-list>

    <ion-card *ngIf='validado == true'>
        <img src="../../assets/imgs/dory.png" />
        <ion-card-content>
            <ion-card-title text-center>
                Bienvenido a CinC
            </ion-card-title>
            <p text-justify-center>
                Le enviamos un email a su correo electrónico con instrucciones para activar su cuenta. Muchas gracias por registrarse.
            </p>
        </ion-card-content>
        <button ion-button block (tap)="close()">Cerrar</button>
    </ion-card>


</ion-content>