<ion-header>

    <ion-navbar color="primary">
        <ion-title>Search for the Worker closer to you</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding *ngIf="selected === false">
    <ion-searchbar (ionInput)="filtraWork($event)"></ion-searchbar>
    <ion-item *ngIf="works.respuesta">
        {{ works.respuesta }}
    </ion-item>
    <ion-item *ngIf="!term">
        <ion-list avatar-list no-margin no-padding *ngFor="let i of works.skills">

            <ion-item (tap)="buscaWorker(i)">
                <ion-avatar item-start>
                    <img [src]="i.imagen">
                </ion-avatar>
                <h2>{{ i.name }}</h2>
                <p>{{ i.description }}</p>
            </ion-item>
        </ion-list>
    </ion-item>
    <ion-item *ngIf="term">
        <ion-list avatar-list no-margin no-padding *ngFor="let i of skills">

            <ion-item (tap)="buscaWorker(i)">
                <ion-avatar item-start>
                    <img [src]="i.imagen">
                </ion-avatar>
                <h2>{{ i.name }}</h2>
                <p>{{ i.description }}</p>
            </ion-item>
        </ion-list>
    </ion-item>
</ion-content>

<ion-content *ngIf="selected === true">



    <ion-card padding-top>
        <ion-row>
            <ion-col col-12>
                <img *ngIf="item.imagen === ''" src="../../assets/icon/no-picture-available-icon-20.jpg " />
                <img *ngIf="item.imagen !== ''" [src]="item.imagen" />
            </ion-col>
        </ion-row>

        <ion-card-content>
            <ion-card-title text-center>
                {{ item.name }} {{ item.surname }}
            </ion-card-title>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, minima placeat. Facilis quasi alias illum.
            </p>


            <ion-grid>

                <ion-row justify-content-center>
                    <ion-col>
                        <ul class="horiz" *ngFor="let i of [1,2,3,4,5]">
                            <li>
                                <ion-icon *ngIf="valoracion < i" name="star-outline"></ion-icon>
                                <ion-icon *ngIf="valoracion >= i" name="star"></ion-icon>
                            </li>
                        </ul>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center col-6>
                        <ion-icon name="thumbs-up" (click)="positivo()"></ion-icon>
                    </ion-col>
                    <ion-col text-center col-6>
                        <ion-icon name="thumbs-down" (click)="negativo()"></ion-icon>
                    </ion-col>
                </ion-row>



            </ion-grid>
            <button block ion-button (tap)="contratar()">Hire</button>
        </ion-card-content>
    </ion-card>

</ion-content>