page-search-worker {
    ul {
        list-style: none;
    }
    .horiz li {
        // width: 1px;
    }
    ion-row {
        //width: 200px;
        //  max-height: 30rem!important;
    }
    ion-row img {
        max-height: 40rem!important;
    }
    .back-button {
        display: block;
    }
}