page-search-worker {
    ul {
        list-style: none;
    }
    .horiz {
        float: left;
        /*position: relative;*/
    }
    ion-row {
        text-align: center;
        //width: 200px;
        // max-height: 350px!important;
    }
}