page-search-worker {
    ul {
        list-style: none;
    }
    .horiz li {
        // width: 1px;
    }
    ion-row {
        //width: 200px;
        //  max-height: 30rem!important;
    }
    ion-row img {
        max-height: 30rem!important;
    }
    .back-button {
        display: block;
    }
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
            background-color: #000000;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
        img {
            height: 240px;
        }
    }
}