<ion-header>

    <ion-navbar color="primary">
        <ion-title text-center>Your Pastor says...</ion-title>


    </ion-navbar>

</ion-header>


<ion-content *ngIf="usuarios.us[0].role == '0' ">
    <ion-card *ngIf="usuarios.nomsg !==''">
        <ion-card-header>
            Ups!
        </ion-card-header>
        <ion-card-content>
            {{ usuarios.nomsg }}
        </ion-card-content>
    </ion-card>



    <ion-list *ngFor="let i of usuarios.mensajes">


        <ion-card *ngIf="i.messagejpg==''">
            <ion-card-header>
                Date {{ i.datemsg }}
            </ion-card-header>
            <ion-card-content>
                {{ i.messageTXT }}
            </ion-card-content>
        </ion-card>


        <ion-card *ngIf="i.messagejpg!==''">
            <ion-card-header>
                Date {{ i.datemsg }}
            </ion-card-header>
            <ion-card-content>
                {{ i.messageTXT }}

                <img [src]="i.messagejpg" />
            </ion-card-content>
        </ion-card>


    </ion-list>




</ion-content>
<ion-content *ngIf="usuarios.us[0].role == '1' ">
    <img *ngIf="imgpreview !== ''" [src]="imgpreview" />
    <form #forma="ngForm">
        <ion-textarea [(ngModel)]="mensaje.messageTXT" name="messageTXT" required></ion-textarea>

        <button ion-button primary outline block (click)='subirFoto()'>Load Image</button>
        <button ion-button primary outline block (click)='tomarFoto()'>Camera</button>

        <button ion-button primary outline block (click)='crearMensaje()' [disabled]='!forma.form.valid'>Create</button>
    </form>

</ion-content>