<ion-header>

    <ion-navbar>
        <ion-title *ngIf="usuarios.us[0].role == '0' ">Your Pastor says...</ion-title>
        <ion-title *ngIf="usuarios.us[0].role == '1' ">Mensaje para la Comunidad</ion-title>

    </ion-navbar>

</ion-header>


<ion-content *ngIf="usuarios.us[0].role == '0' ">
    <ion-card *ngIf="usuarios.nomsg !==''">
        <ion-card-header>
            Ups!
        </ion-card-header>
        <ion-card-content>
            {{ usuarios.nomsg }}
        </ion-card-content>
    </ion-card>



    <ion-list *ngFor="let i of usuarios.mensajes">


        <ion-card *ngIf="i.messagejpg==''">
            <ion-card-header>
                Date {{ i.datemsg }}
            </ion-card-header>
            <ion-card-content>
                {{ i.messageTXT }}
            </ion-card-content>
        </ion-card>


        <ion-card *ngIf="i.messagejpg!==''">
            <ion-card-header>
                Date {{ i.datemsg }}
            </ion-card-header>
            <ion-card-content>
                {{ i.messageTXT }}

                <img [src]="i.messagejpg" />
            </ion-card-content>
        </ion-card>


    </ion-list>




</ion-content>
<ion-content *ngIf="usuarios.us[0].role == '1' ">
    <!--<img *ngIf="imgpreview !== ''" [src]="imgpreview" />-->
    <form #forma="ngForm">
        <ion-input color="secondary" [(ngModel)]="mensaje.tituloMsg" name="tituloMsg" placeholder="Título" required></ion-input>
        <ion-textarea class="textarea" [(ngModel)]="mensaje.messageTXT" name="messageTXT" placeholder="Mensaje" required></ion-textarea>
        <ion-item text-left>
            <ion-checkbox [(ngModel)]="cartelera" name="cartelera" color="dark" checked="cartelera"></ion-checkbox>
            <ion-label>Enviar a Cartelera</ion-label>
        </ion-item>
        <img *ngIf="imgpreview !== ''" [src]="imgpreview" />
        <button ion-button primary outline block (click)='subirFoto()'>Load Image</button>
        <button ion-button primary outline block (click)='tomarFoto()'>Camera</button>

        <button ion-button primary outline block (click)='crearMensaje()' [disabled]='!forma.form.valid'>Create</button>
    </form>

</ion-content>