<ion-header no-padding>

    <ion-navbar no-padding color="primary">
        <ion-buttons left>
            <button (click)='signOut()'>
                        <ion-icon name='log-out'></ion-icon>
                    </button>
        </ion-buttons>



        <ion-title text-center>Welcome!</ion-title>


    </ion-navbar>

</ion-header>
<ion-content no-padding>

    <ion-grid no-padding>
        <ion-row no-padding justify-content-center>
            <ion-col *ngIf="role == 0">
                <ion-list no-padding inset>
                    <button no-padding ion-item (click)="mensajesPastor()">
                              Your Pastor says...
                            </button>
                </ion-list>
            </ion-col>

            <ion-col no-padding *ngIf="role == 1">
                <ion-list no-padding inset>
                    <button no-padding ion-item (click)="crearMensajes()">
                                      Send a message for your community
                                    </button>
                </ion-list>

            </ion-col>
        </ion-row>
    </ion-grid>



    <ion-list *ngFor="let i of _us.us">
        <ion-item no-padding>
            <ion-card no-padding>
                <ion-item no-padding *ngIf="fb == true" item-center>
                    <img [src]="userLogged.imagen">
                </ion-item>
                <ion-item no-padding *ngIf="fb == false" item-center>
                    <img *ngIf="i.imagen === ''" src="../../assets/icon/no-picture-available-icon-20.jpg " />
                    <img *ngIf="i.imagen !== ''" [src]="i.imagen">
                </ion-item>


                <ion-card-content>
                    <ion-card-title text-center>
                        {{ i.name }} {{ i.surname }}
                    </ion-card-title>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quae blanditiis architecto adipisci pariatur...
                    </p>
                </ion-card-content>
            </ion-card>



        </ion-item>

        <ion-item>

            <button ion-button danger block (click)='search()'>Search for a Worker</button>
            <button ion-button danger block (click)='offer()'>Publish your skills</button>
        </ion-item>

    </ion-list>

</ion-content>