<ion-header>

    <ion-navbar text-center color="primary">
        <button start ion-button color="light" clear>Dark Clear</button>
        <ion-title>Personal Information</ion-title>
        <button end ion-button color="light" clear>Dark Clear</button>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <form #forma="ngForm">
            <ion-item>
                <ion-input block type='text' [(ngModel)]="user.name" name='nombre' placeholder="Name/Nombre" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-input block type='text' [(ngModel)]="user.surname" name='apellido' placeholder="Surname/Apellido" required></ion-input>
            </ion-item>
            <ion-item *ngIf="user.email">
                <ion-input block type='email' [(ngModel)]="user.email" name='email' placeholder="Email" required disabled></ion-input>
            </ion-item>
            <ion-item *ngIf="!user.email">
                <ion-input block type='email' [(ngModel)]="aux" name='email' placeholder="Email" required></ion-input>
            </ion-item>
            <ion-item *ngIf="!user.email">
                <ion-input block type='password' [(ngModel)]="user.password" name='password' placeholder="Password/Clave" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-input block type='number' [(ngModel)]="user.age" name='age' placeholder="Ages/Edad"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input block type='number' [(ngModel)]="user.celular" name='phone' placeholder="Celular" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-input block type='text' [(ngModel)]="user.address" name='address' placeholder="Address/Dirección" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-input block type='text' [(ngModel)]="user.city" name='ciudad' placeholder="City/Ciudad" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-input block type='text' [(ngModel)]="user.state" name='state' placeholder="State/Estado" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-input block type='number' [(ngModel)]="user.zip" name='zip' placeholder="ZipCode/CP" required></ion-input>
            </ion-item>
            <!--<ion-item *ngIf="editar === false">
                <ion-input block type='text' [(ngModel)]="chap.nameChapel" name='church' placeholder="Wich chapel are you going?" (click)="chapel()" required></ion-input>
            </ion-item>
            <ion-item *ngIf="editar === true">
                <ion-input block type='text' [(ngModel)]="chap.nameChapel" name='church' placeholder="Wich chapel are you going?" (click)="chapel()"></ion-input>
            </ion-item>-->
            <ion-item *ngIf="imgpreview">
                <img [src]="imgpreview" [(ngModel)]="user.imagen" name='imagen'>
            </ion-item>
            <ion-item *ngIf="user.imagen">
                <img [src]="user.imagen" name='imagen'>
            </ion-item>
            <ion-item>
                <button ion-button primary outline block (click)='subirFoto()'>Load Image</button>
                <button ion-button primary outline block (click)='tomarFoto()'>Camera</button>
            </ion-item>


            <button *ngIf="!editar" ion-button primary outline block (click)='crearUsuario()' [disabled]='!forma.form.valid'>Continue</button>
            <button *ngIf="editar" ion-button primary outline block (click)='crearUsuario()' [disabled]='!forma.form.valid'>Salvar Cambios</button>
        </form>

    </ion-list>

</ion-content>